
<div>
  <button (click) = "logout()">Logout</button>
</div>
<div style="margin:20px">
<productsearch (addProduct) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()" ></productsearch>
</div>
<div style="margin:20px">
</div>
<h3>
  Products List:
</h3>
<ul class = "list-group" style="margin:20px">
	
  <li class = "list-group-item" *ngFor = "let key of productsKey">
		<button class="btn btn-warning" [routerLink] = "['/updateproduct', key]">Update</button>
    {{'product number ' + key + ' ' + products[key].name}}
		
  </li>
  <br>
<button class="btn btn-info" [routerLink] = "['/productfire']">Fire Base</button>
<br>

</ul>