<form [formGroup] = "productform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name = "name" id = "name" formControlName = "name" >
  </div>
  <div>
    <label for="phone"></label>
    <input type="text" name = "phone" id = "phone" formControlName = "phone">
  </div>
  <input type="submit" value = "Send user">
</form>