<h2>
  List of products from fire base:
</h2>
<br>
<button class="btn btn-info" [routerLink] = "['/']">SQL DB</button>
<br>
<br>
<ul  class = "list-group">
   <li class = "list-group-item" *ngFor = "let product of products">
      {{product.name +" "+ product.price}}
    </li>
</ul>
